* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #f0f0f0;
}

.background-green {
  background: #95f084;
}

.background-yellow {
  background: #ffe695;
}

.background-orange {
  background: #ffaf6a;
}

.background-peach-red {
  background: #ff5757;
}

.background-purple {
  background: #9777ff;
}

.background-wine-red {
  background: #ad1774;
}

#app {
  width: 1110px;
  margin: 0 auto;
}

.top-wrapper {
  width: 1110px;
  margin: 0 auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-wrapper .left {
  display: inline-block;
  width: 350px;
}

.top-wrapper .left h1 {
  font-size: 40px;
  margin: 0 0 8px 0;
}

.top-wrapper .left #location {
  width: 350px;
  height: 56px;
  border: solid 3px #000000;
  font-size: 24px;
}

.top-wrapper .right {
  display: inline-block;
  width: 730.32px;
  height: 110px;
  margin-left: 30px;
}

.top-wrapper .right ul {
  margin: 0;
  padding: 0;
  letter-spacing: -5px;
  border: 3px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-wrapper .right ul li {
  letter-spacing: normal;
  display: inline-block;
  width: 120.67px;
  height: 110px;
  background: red;
  border-right: 3px solid #000000;
  font-size: 16px;
  font-weight: bold;
}

.top-wrapper .right ul li p {
  text-align: center;
  padding: 4px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-wrapper .right ul li .li-top {
  margin: 0;
  height: 54px;
  border-bottom: 3px solid #000000;
}

.top-wrapper .right ul li .li-bottom {
  margin: 0;
  height: 56px;
  background: white;
}

.top-wrapper .right ul li:first-of-type .li-top {
  background: #95f084;
}

.top-wrapper .right ul li:nth-of-type(2) .li-top {
  background: #ffe695;
}

.top-wrapper .right ul li:nth-of-type(3) .li-top {
  background: #ffaf6a;
}

.top-wrapper .right ul li:nth-of-type(4) .li-top {
  background: #ff5757;
}

.top-wrapper .right ul li:nth-of-type(5) .li-top {
  background: #9777ff;
}

.top-wrapper .right ul li:last-child .li-top {
  background: #ad1774;
}

.top-wrapper .right ul li:last-child {
  border: 0;
}

.separation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  height: 54px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  white-space: nowrap;
}

.separation .separation-city {
  width: 108px;
  font-size: 36px;
  font-weight: bold;
  margin-right: 8px;
}

.separation .separation-dashed {
  display: block;
  position: relative;
  width: 100%;
}

.separation .separation-dashed::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border: 1px dashed black;
}

.separation .update-time {
  font-size: 16px;
  width: 137px;
  height: 22px;
  line-height: 22px;
  margin: 0 22px 0 12px;
}

.bottom-wrapper {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information {
  width: 350px;
  border: 3px solid #000;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  text-align: center;
  width: 348px;
  height: 97px;
  border-bottom: 3px solid #000;
  cursor: pointer;
}

.card .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 190px;
  font-size: 36px;
  border-right: 3px solid #000;
}

.card .number {
  padding: 22px 30px;
  width: 160px;
  font-size: 48px;
  line-height: 48px;
}

ul.detail {
  margin: 0;
  padding: 30px;
}

ul.detail li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
  padding: 18px 0;
  border-bottom: 1px solid #000;
}

ul.detail li .name,
ul.detail li .detail-number {
  font-weight: bold;
  font-size: 24px;
}

ul.detail li .name {
  margin-right: 8px;
}

ul.detail li .unit {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  font-size: 16px;
  font-weight: normal;
}

ul.detail li:first-child {
  padding-top: 0;
}

ul.detail li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

ul.card-section {
  height: 535px;
  padding: 0;
  margin: 0;
}

ul.card-section .card {
  border: 3px solid #000;
}

ul.card-section li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin: 0 0 20px 20px;
  -webkit-box-shadow: 3px 5px 0 0 gray;
          box-shadow: 3px 5px 0 0 gray;
}

ul.card-section li .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Loading {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  z-index: 100;
}

@-webkit-keyframes ball-beat {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes ball-beat {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.ball-beat > div {
  background-color: #279fcf;
  width: 15px;
  height: 15px;
  border-radius: 100% !important;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  -webkit-animation: ball-beat 0.7s 0s infinite linear;
  animation: ball-beat 0.7s 0s infinite linear;
}

.ball-beat > div:nth-child(2n-1) {
  -webkit-animation-delay: 0.35s !important;
  animation-delay: 0.35s !important;
}
/*# sourceMappingURL=main.css.map */